<script type="text/javascript">
    function loadExtratoDeConta() {
        window.open('/MALEYANGA/conta/printExtratoDeConta', '_blank');

    }
</script>

<button class="btn btn-danger" onclick="loadExtratoDeConta()">Mostrar Extrato</button>

