<aside id="footer-widgets">
    <div class="container">
        <div class="row">


            <div class="col-md-4">

            </div>
        </div>
    </div>
    <!-- row -->
    <footer id="footer">
    <div class="footer-widget">

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <h4 class="footer-widget-title">Contact Us</h4>

                <p class="add">Maputo - Mozambique</p>

                <p class="tel">
                    <i class="fa fa-phone"></i> Tel : + (258) - 843854654 <br/>
                    <i class="fa fa-envelope"></i> Mail : <a href="#">fanisso@gmail.com</a><br/>

                </p>
            </div>

            <div class="col-lg-6">
                <p>
                    &copy; 2016-2020 <a href="#">AKIN Systems</a>, inc. All rights
                reserved.
                </p>
            </div>

            <div class="foot-item-content address">

                <!-- Paragraph -->

            </div>
        </div>
    </div>

    </footer>
</aside>
