<script type="text/javascript">
    function load() {
        window.open('/MALEYANGA/parcela/printParcela/', '_blank');

    }
</script>


<button class="btn btn-danger" onclick="load()">Recibo</button>
