<script type="text/javascript">
    function loadParcel() {
        window.open('/MALEYANGA/parcela/printParcela', '_blank');

    }
</script>

<button class="btn btn-danger" onclick="loadParcel()">Imprimir</button>

