<script type="text/javascript">
    function loadEntrad() {
        window.open('/MALEYANGA/parcela/printEntrada', '_blank');

    }
</script>

<button class="btn btn-danger" onclick="loadEntrad()">Imprimir</button>

