


    <div class="panel-body">
        <div class="col-lg-2">
			<div >
			<label>No. Telefone</label>

			</div>
        </div>
		<div class="col-lg-6">

		<g:textField type="numero"  maxlength="20" class="form-control"  name="destino"/>
		</div>
	</div>


    <div class="panel-body">
        <div class="col-lg-2">
            <div >
                <label>Mensagem</label>

            </div>
        </div>
        <div class="col-lg-6">

            <g:textArea class="form-control"  name="mensagem"/>
        </div>
    </div>





