<ul class="nav nav-pills" data-role="listview" data-split-icon="gear" data-filter="true">
%{--<li class="${ params.action == "create" ? 'active' : '' }">  <g:link controller="pedido" action="create"> <g:img dir="images" file="file_add.png"  uri="" />Novo Pedido</g:link></li>--}%
<li class="${ params.action == "index" ? 'active' : '' }">  <g:link controller="utilitarios" action="index"><glyph:icon iconName="clientes"/>Upload Dos Clientes</g:link></li>
<li class="${ params.action == "logs" ? 'active' : '' }">  <g:link controller="utilitarios" action="sms"><glyph:icon iconName="sms"/>Send HTTP</g:link></li>

</ul>