<ul class="nav nav-pills" data-role="listview" data-split-icon="gear" data-filter="true">

%{--<li class="${ params.action == "create" ? 'active' : '' }">  <g:link controller="parcela" action="create"><glyph:icon iconName="novo"/>Novo Pagamento</g:link></li>--}%
%{--<li class="${ params.action == "pagamentosPorEfectivar" ? 'active' : '' }">  <g:link controller="pagamento" action="pagamentosPorEfectivar"><glyph:icon iconName="pagporreceber"/>Pagamentos Por Receber</g:link></li>
<li class="${ params.action == "pagamentosEfectivados" ? 'active' : '' }"><g:link  controller="pagamento" action="pagamentosEfectivados">   <glyph:icon iconName="pago"/> Pagamentos Efectivados</g:link></li>--}%
    <li class="${params.action == "pagamentos" ? 'active' : ''}"><g:link controller="pagamento"
                                                                         action="pagamentos"><glyph:icon
                iconName="pagamento"/>Pagamentos</g:link></li>
%{--
<li class="${ params.action == "listDevedores" ? 'active' : '' }">  <g:link  controller="pagamento" action="listDevedores"><glyph:icon iconName="pagdedividas"/>Lista dos devedores</g:link></li>
--}%

</ul>