<script type="text/javascript">
    function loadExtratoDasPrestacoes() {
        window.open('/MALEYANGA/relatorios/printExtratoDePrestacoes', '_blank');

    }
</script>

<button class="btn btn-danger" onclick="loadExtratoDasPrestacoes()">Mostrar Relatório das Prestações</button>

