<script type="text/javascript">
    function loadExtratoDasPrestacoesDoGestor() {
        window.open('/MALEYANGA/relatorios/printExtratoDePrestacoesDoGestor', '_blank');

    }
</script>

<button class="btn btn-danger" onclick="loadExtratoDasPrestacoesDoGestor()">Mostrar Relatório das Prestações</button>

