<script type="text/javascript">
    function loadPlano() {
        window.open('/MALEYANGA/credito/planoDePagamento', '_blank');

    }
</script>

<button class="btn btn-danger" onclick="loadPlano()">Plano De Pag.</button>

