<%@ page import="mz.maleyanga.documento.Nota" %>



%{--
    <div class="panel-body">
        <div class="col-lg-3">
			<div class="${hasErrors(bean: notaInstance, field: 'pai', 'error')} ">
				<label for="pai" class="control-label"><g:message code="nota.pai.label" default="Pai" /></label>
			</div>
        </div>
                <div class="col-lg-6">
					<g:select class="form-control" id="pai" name="pai.id" from="${mz.maleyanga.documento.Nota.list()}" optionKey="id" value="${notaInstance?.pai?.id}" class="many-to-one" noSelection="['null': '']"/>
					<span class="help-inline">${hasErrors(bean: notaInstance, field: 'pai', 'error')}</span>
				</div>

    </div>--}%




   %{-- <div class="panel-body">
        <div class="col-lg-3">
			<div class="${hasErrors(bean: notaInstance, field: 'filha', 'error')} ">
				<label for="filha" class="control-label"><g:message code="nota.filha.label" default="Filha" /></label>
			</div>
        </div>
                <div class="col-lg-6">
					<g:select class="form-control" id="filha" name="filha.id" from="${mz.maleyanga.documento.Nota.list()}" optionKey="id" value="${notaInstance?.filha?.id}" class="many-to-one" noSelection="['null': '']"/>
					<span class="help-inline">${hasErrors(bean: notaInstance, field: 'filha', 'error')}</span>
				</div>

    </div>
--}%



  %{--  <div class="panel-body">
        <div class="col-lg-3">
			<div class="${hasErrors(bean: notaInstance, field: 'pagamento', 'error')} ">
				<label for="pagamento" class="control-label"><g:message code="nota.pagamento.label" default="Pagamento" /></label>
			</div>
        </div>
                <div class="col-lg-6">
					<g:select class="form-control" id="pagamento" name="pagamento.id" from="${mz.maleyanga.pagamento.Pagamento.list()}" optionKey="id" value="${notaInstance?.pagamento?.id}" class="many-to-one" noSelection="['null': '']"/>
					<span class="help-inline">${hasErrors(bean: notaInstance, field: 'pagamento', 'error')}</span>
				</div>

    </div>
--}%



 %{--   <div class="panel-body">
        <div class="col-lg-3">
			<div class="${hasErrors(bean: notaInstance, field: 'autor', 'error')} ">
				<label for="autor" class="control-label"><g:message code="nota.autor.label" default="Autor" /></label>
			</div>
        </div>
                <div class="col-lg-6">
					<g:textField class="form-control" name="autor" value="${notaInstance?.autor}"/>
					<span class="help-inline">${hasErrors(bean: notaInstance, field: 'autor', 'error')}</span>
				</div>

    </div>--}%




    <div class="panel-body">
        <div class="col-lg-3">
			<div class="${hasErrors(bean: notaInstance, field: 'messagem', 'error')} ">
				<label for="messagem" class="control-label"><g:message code="nota.messagem.label" default="Messagem" /></label>
			</div>
        </div>
                <div class="col-lg-12">
					<g:textArea class="form-control" name="messagem" value="${notaInstance?.messagem}"/>
					<span class="help-inline">${hasErrors(bean: notaInstance, field: 'messagem', 'error')}</span>
				</div>

    </div>




  %{--  <div class="panel-body">
        <div class="col-lg-3">
			<div class="${hasErrors(bean: notaInstance, field: 'utilizador', 'error')} required">
				<label for="utilizador" class="control-label"><g:message code="nota.utilizador.label" default="Utilizador" /><span class="required-indicator">*</span></label>
			</div>
        </div>
                <div class="col-lg-6">
					<g:select class="form-control" id="utilizador" name="utilizador.id" from="${mz.maleyanga.security.Utilizador.list()}" optionKey="id" required="" value="${notaInstance?.utilizador?.id}" class="many-to-one"/>
					<span class="help-inline">${hasErrors(bean: notaInstance, field: 'utilizador', 'error')}</span>
				</div>

    </div>--}%



