<%@ page import="mz.maleyanga.diario.Diario" %>
<!DOCTYPE html>
<html>

<head>

    <g:set var="entityName" value="${message(code: 'diario.label', default: 'Diario')}"/>
    <title><g:message code="default.create.label" args="[entityName]"/></title>
</head>

<body>
<z:body/>
</body>

</html>
